# Object file directory
obj/
obj_sim/
Test_Area/

# Clock configurations
Brightness.csv
Error_Log.txt
Event_Log.txt
General_Configuration.csv
Secondary.csv
Topic_Management.json
Secondary.json
volume_test.wav

