[Unit]
Description= IOT_Clock digital clock with dedicated hardware
Wants=network-online.target time-sync.target
After=network-online.target time-sync.target

[Service]
Type= simple
User= david
WorkingDirectory= /home/david/Clock/
ExecStart= /home/david/Clock/iot_clock
TimeoutStopSec= 100
Restart=on-failure
RestartSec=5

[Install]
WantedBy= multi-user.target
